---
Title: HOME & GARDEN DEPARTMENTS, CONTESTS, & EXHIBITS
Description: Exibit information and entry rules
---

.fixed-width.markdown-content
  h1#home--garden-departments-contests--exhibits HOME &amp; GARDEN DEPARTMENTS, CONTESTS, &amp; EXHIBITS
  p
  #accordion.panel-group(role='tablist' aria-multiselectable='true')
    .panel.panel-default
      #headingOne.panel-heading(role='tab')
        h4.panel-title
          a.collapsed(role='button' data-toggle='collapse' data-parent='#toc' href='#toc' aria-expanded='false' aria-controls='toc')
            | Table of Contents 
            small  (click to expand)
      #toc.panel-collapse.collapse(role='tabpanel' aria-labelledby='toc')
        .panel-body
          ul
            li
              a(href='#home--garden-departments-contests--exhibits') HOME &amp; GARDEN DEPARTMENTS, CONTESTS, &amp; EXHIBITS
            li
              a(href='#wanda-goodyear-memorial-baked-bean-contest') WANDA GOODYEAR MEMORIAL BAKED BEAN CONTEST
              ul
                li
                  a(href='#prizes') PRIZES:
              ul
                li
                  a(href='#general-guidlines') GENERAL GUIDLINES
                li
                  a(href='#department-hg-1-handicrafts') DEPARTMENT: HG 1-HANDICRAFTS
                  ul
                    li
                      a(href='#rules') RULES
                    li
                      a(href='#categories--classes') CATEGORIES &amp; CLASSES
                      ul
                        li
                          a(href='#knitting--') KNITTING -
                          ul
                            li
                              a(href='#sweaters') Sweaters
                            li
                              a(href='#infant-items') Infant items
                            li
                              a(href='#accessories') Accessories
                            li
                              a(href='#home-decor') Home D&eacute;cor
                            li
                              a(href='#felted-felled-knitting') Felted (felled) knitting
                            li
                              a(href='#other') Other
                        li
                          a(href='#handspun-yarn') HANDSPUN YARN
                          ul
                            li
                              a(href='#knitted') Knitted
                            li
                              a(href='#crocheted-any-item') Crocheted, any item
                            li
                              a(href='#woven') Woven
                            li
                              a(href='#handspun-skeins-washed-and-tied-202-skein') Handspun skeins (washed and tied 202 skein)
                        li
                          a(href='#felting') FELTING
                          ul
                            li
                              a(href='#wet-felt') Wet felt
                            li
                              a(href='#needle-felting') Needle felting
                        li
                          a(href='#weaving') WEAVING
                        li
                          a(href='#sewing') SEWING
                        li
                          a(href='#quilts') QUILTS
                          ul
                            li
                              a(href='#hand-sewn-and-hand-quilted') Hand-sewn and hand-quilted
                            li
                              a(href='#machine-pieced-0r-appliqued') Machine pieced 0r appliqued
                            li
                              a(href='#quilted-items') Quilted items
                        li
                          a(href='#embroidery-and-needlepoint') EMBROIDERY and NEEDLEPOINT
                        li
                          a(href='#beadwork') BEADWORK
                        li
                          a(href='#basketry') BASKETRY
                        li
                          a(href='#rugs') RUGS
                        li
                          a(href='#christmas-crafts') CHRISTMAS CRAFTS
                        li
                          a(href='#dolls-and-miniatures') DOLLS and MINIATURES
                        li
                          a(href='#woodworking') WOODWORKING
                        li
                          a(href='#ceramics') CERAMICS
                        li
                          a(href='#paper-crafts') PAPER CRAFTS
                        li
                          a(href='#recycled-crafts-must-be-75%25-recycled-materials') RECYCLED CRAFTS-MUST BE 75% RECYCLED MATERIALS
                        li
                          a(href='#open--unclassified') OPEN &amp; UNCLASSIFIED
                    li
                      a(href='#sponsored-awards') SPONSORED AWARDS
                      ul
                        li
                          a(href='#knitting--crocheting') KNITTING &amp; CROCHETING:
                        li
                          a(href='#handspun-yarn') HANDSPUN YARN:
                          ul
                            li
                              a(href='#felting') FELTING:
                        li
                          a(href='#weaving') WEAVING:
                        li
                          a(href='#sewing') SEWING:
                        li
                          a(href='#quilting') QUILTING:
                        li
                          a(href='#embroidery--needlepoint') EMBROIDERY &amp; NEEDLEPOINT:
                        li
                          a(href='#beadwork') BEADWORK:
                        li
                          a(href='#buttons') BUTTONS
                        li
                          a(href='#rugs') RUGS:
                        li
                          a(href='#woodwork') WOODWORK:
                        li
                          a(href='#recycled-crafts') RECYCLED CRAFTS
                        li
                          a(href='#overall-handicrafts') OVERALL HANDICRAFTS:
            li
              a(href='#art-and-photography') ART and PHOTOGRAPHY
              ul
                li
                  a(href='#rules-1') RULES
            li
              a(href='#flower-show') FLOWER SHOW
              ul
                li
                  a(href='#amateur-flower-show') AMATEUR FLOWER SHOW
                  ul
                    li
                      a(href='#rules-2') RULES
                    li
                      a(href='#categories--glasses-note-changes') CATEGORIES &amp; GLASSES (NOTE CHANGES)
                      ul
                        li
                          a(href='#floral-arrangement-classes-not-to-exceed-12x-18') FLORAL ARRANGEMENT CLASSES: not to exceed 12&rdquo;x 18&rdquo;
                        li
                          a(href='#plant-classes-pot-size-limited-to-10-or-less') PLANT CLASSES: Pot size limited to 10&rdquo; or less
                        li
                          a(href='#childrens-classes') CHILDREN&apos;S CLASSES:
                    li
                      a(href='#sponsored-awards') SPONSORED AWARDS:
                li
                  a(href='#commercial-flower-show') COMMERCIAL FLOWER SHOW
                  ul
                    li
                      a(href='#rules-3') RULES
                li
                  a(href='#commercial-nursery-show') COMMERCIAL NURSERY SHOW
                  ul
                    li
                      a(href='#rules-4') RULES
                li
                  a(href='#garden-products') GARDEN PRODUCTS
                  ul
                    li
                      a(href='#rules') RULES:
                    li
                      a(href='#categories--glasses') CATEGORIES &amp; GLASSES
                      ul
                        li
                          a(href='#fruits') FRUITS
                        li
                          a(href='#vegetables') VEGETABLES
                        li
                          a(href='#miscellaneous') MISCELLANEOUS
                        li
                          a(href='#sponsored-awards-1') SPONSORED AWARDS:
                li
                  a(href='#commercial-gardening-division') COMMERCIAL GARDENING DIVISION
                  ul
                    li
                      a(href='#rules-1') RULES:
            li
              a(href='#foods') FOODS
              ul
                li
                  a(href='#rules-5') RULES
                li
                  a(href='#categories--glasses-1') CATEGORIES &amp; GLASSES
                  ul
                    li
                      a(href='#raised-breads') RAISED BREADS
                    li
                      a(href='#quick-breads--pastry') QUICK BREADS &amp; PASTRY
                    li
                      a(href='#cakes-not-to-exceed-10-in-diameter') CAKES (not to exceed 10&rdquo; in diameter)
                    li
                      a(href='#decorated-cakes--cupcakes') DECORATED CAKES &amp; CUPCAKES
                    li
                      a(href='#cookies') COOKIES
                    li
                      a(href='#dessert-pies-ortarts') DESSERT PIES orTARTS
                    li
                      a(href='#apple-baked-goods') APPLE BAKED GOODS
                    li
                      a(href='#dairy-foods') DAIRY FOODS
                    li
                      a(href='#honey-baked-goods') HONEY BAKED GOODS
                    li
                      a(href='#king-arthur-flour-contest') KING ARTHUR FLOUR CONTEST
                    li
                      a(href='#candies') CANDIES
                    li
                      a(href='#canning') CANNING
                    li
                      a(href='#sponsors') Sponsors
            li
              a(href='#annual-leona-thompson-bowl-award') ANNUAL LEONA THOMPSON BOWL AWARD
              ul
                li
                  a(href='#criteria-and-rules') Criteria and Rules
            li
              a(href='#annual-frances-monroe-youth-award') ANNUAL FRANCES MONROE YOUTH AWARD
              ul
                li
                  a(href='#criteria-and-rules-for-winning-this-award') Criteria and Rules for winning this award:
  p
  h1#wanda-goodyear-memorial-baked-bean-contest WANDA GOODYEAR MEMORIAL BAKED BEAN CONTEST
  p Event held on the last day of the fair, Saturday at 10am.
  p SUPERINTENDENT: Peg Allen, 623-6211
  p
    | Bring a pot of yourfavorite Baked Beans and recipe on a 5x8 card to the Greenhouse/
    | Picnic area on Saturday, at 10:00 am. Official judging will begin then.
    | All entrants must be present to win.
  p
    | From 12:00 noon until 1 pm. the entrants should be prepared to hand out small samples of
    | their beans to the public.
  p All entrants will receive a special ribbon.
  p No pre-registration required. 
  p One entry per person
  h3#prizes PRIZES:
  p
    | 1ST -$100 - Wanda Goodyear Memorial Award
    | Additional prizes will be awarded
  p
    | Welcome to the Home &amp; Garden Departments. Our goal is to showcase and
    | celebrate your skills in the domestic arts. Thank you for sharing your work with
    | the fair community. For more information, please read the following guidelines:
  p DIRECTOR: Megan Sutton, 802-545-2475
  h2#general-guidlines GENERAL GUIDLINES
  ol
    li
      | All entries will be accepted on Monday, August 7, from 9:00 a.m. to 12:30 p.m. Entries
      | in the Handicrafts, Foods, Garden Products, Art &amp; Photography departments will also be
      | accepted on Sunday, August 6th, from 1:00 p.m. to 4:00 p.m. Note that all items will
      | be judged on Monday afternoon.
    li
      | Exhibitors of all ages are welcome and do not need to be residents of Addison County.
      | With the exception of the Commercial contests in the Flower Show and Garden Products
      | departments, these contests are for amateurs: those who do not regularly sell their
      | products, nor are paid for teaching their skills.
    li
      | A completed entry form must accompany all items to be displayed - one for each
      | department. Each item should be listed, with no more than one item entered for an
      | exhibitor in a class. A receipt will be given for each item.
    li
      | Items will be judged according to the Danish System: ranked by points as excellent,
      | good, or fair, and awarded ribbons for merit. Perfect scores will receive a $5.00
      | premium. Our generous sponsors provide us with special prizes, which are listed in each
      | department. The Awards Ceremony will be held Saturday at 5:00 p.m. in the Home and
      | Garden Building. Winners will be notified and are encouraged to attend.
    li
      | Items are entered for display at your own risk. Our building is locked overnight and security
      | is provided but not guaranteed.
    li
      | All entries are to remain in place until 9:00 p.m. Saturday, August 12th. Items may
      | be picked up between 8:00 p.m. and 9:00 p.m. Saturday, or from 10:00 a.m. to 12:00 p.m.
      | on Sunday, August 14th. Please bring your receipts when you pick up your items. Prizes not
      | picked up at these times will be forfeited.
    li
      | Due to the change in our pass policy, Addison County Field Days is sponsoring
      | premiums in the Home and Garden Departments for the top 3 scores in each class, not
      | including those who win another prize.
  h2#department-hg-1-handicrafts DEPARTMENT: HG 1-HANDICRAFTS
  h3#rules RULES
  p
    | Please read carefully. These Rules apply along
    | with and in addition to the General Rules for the Home &amp;
    | Garden Department, and the General Rules of Addison
    | County Fair &amp; Field Days. Entries will be accepted at the HOME
    | &amp; GARDEN CENTER BUILDING on MONDAY, between
    | 9:00 a.m. &amp; 12:30 p.m.
  p
    | Unworthy, soiled or worn items will not be
    | accepted or judged.
  p
    | Items must be made by an individual completed
    | within the last year.
  h3#categories--classes CATEGORIES &amp; CLASSES
  .container-fluid
    .row
        .col-md-6
            h4#knitting-- KNITTING -
            p
                | Please specify whether natural
                | or synthetic fiber
            p Please enter only items listed below.
            h5#sweaters Sweaters
            ol
                li Adult
                li Child
                li Vest
            h5#infant-items Infant items
            ol
                li Baby Blanket
                li Infant garment
                li Baby hat, booties
                li Toys
            h5#accessories Accessories
            ol
                li Hats
                li Scarves
                li Mittens or gloves
                li Socks or slippers
                li Shawls
            h5(id='home-décor') Home D&eacute;cor
            ol
                li Pillows
                li Afghans
                li Dishcloths
            h5#felted-felled-knitting Felted (felled) knitting
            ol
                li Mittens or slippers
                li Bags
            h5#other Other
            ol
                li Toys
                li Crocheted items not listed above
        .col-md-6
            h4#handspun-yarn HANDSPUN YARN
            h5#knitted Knitted
            ol
                li Garments
                li Hats, Mittens, Socks
                li Shawls, Scarves
            h5#crocheted-any-item Crocheted, any item
            ol
                li Shawls, Scarves
            h5#woven Woven
            ol
                li Any item (commercial warp accepted)
            h5#handspun-skeins-washed-and-tied-202-skein Handspun skeins (washed and tied 202 skein)
            ol
                li Bulky weight
                li Worsted weight
                li Sport weight or ?ner
                li Yarn spun on a drop spindle
        .col-md-6
            h4#felting FELTING
            h5#wet-felt Wet felt
            ol
                li Garments &mdash;Hats, Slippers, etc.
                li Flat pieces: Rugs, Scarves
                li Toys, Sculptures
            h5#needle-felting Needle felting
            ol
                li Toys, Sculptures
                li Flat pieces
        .col-md-6
            h4#weaving WEAVING
            ol
                li
                | Home D&eacute;cor (blankets, rugs, towels,
                | potholders)
                li Wearables (clothing, bags scarves)
                li Bands and Belts
                li Other woven items
        .col-md-6
            h4#sewing SEWING
            ol
                li Adult garment
                li Child&rsquo;s garment
                li Stuffed toys
                li Pillows, including patchwork
                li Handbags, tote bags
                li Any sewn piece not listed above
        .col-md-6
            h4#quilts QUILTS
            h5#hand-sewn-and-hand-quilted Hand-sewn and hand-quilted
            ol
                li Piecework
                li Applique
                li Embroidered
            h5#machine-pieced-0r-appliqued Machine pieced 0r appliqued
            ol
                li Hand quilted
                li Quilted on a home machine
                li Commercially quilted
        
            h5#quilted-items Quilted items
            ol
                li Pillows
                li Wall Hangings
                li Other quilted items
                li Tied quilts
        .col-md-6
            h4#embroidery-and-needlepoint EMBROIDERY and NEEDLEPOINT
            ol
                li Cross-stitch - framed picture
                li Cross-stitch - other item
                li Crewel work - any item
                li Machine embroidery - any item
                li Needlepoint &mdash; any item
                li Punch needle embroidery - framed picture
                li Punch needle embroidery &mdash; other item
                li Creative Modern Stitchery
        .col-md-6
            h4#beadwork BEADWORK
            ol
                li Strung beads
                li Woven beads
                li Crocheted or knitted
                li Beads with wire
                li Othertechnique or combination oftechniques
        .col-md-6
            h4#basketry BASKETRY
            ol
                li Splint woven (?at material)
                li Twined 0r woven with round material
                li Coiled basket
                li Other
        .col-md-6
            h4#rugs RUGS
            ol
                li Traditi0nally hooked rug
                li Punch-needle hooked rug
                li Other hooked item: pillow, picture, etc.
                li Braided rug
                li Toothbrush rug
                li Penny Rug
        .col-md-6
            h4#christmas-crafts CHRISTMAS CRAFTS
            ol
                li Ornaments
                li Wreaths
                li Stockings
                li Tree skirts
                li Nativities
                li Other
        .col-md-6
            h4#dolls-and-miniatures DOLLS and MINIATURES
            ol
                li Dolls
                li Doll houses
                li Room displays or dioramas
                li Individual pieces
        .col-md-6
            h4#woodworking WOODWORKING
            ol
                li Toys, models
                li Furniture
                li Three-dimensional carving
                li Decorative carving
                li Decorative wood burning
                li Other wood item, not listed above
        .col-md-6
            h4#ceramics CERAMICS
            ol
                li Hand Built
                li Wheel Thrown
        .col-md-6
            h4#paper-crafts PAPER CRAFTS
            ol
                li Quilling
                li Paper Mache
                li Note Cards
                li Origami
        .col-md-6
            h4#recycled-crafts-must-be-75-recycled-materials RECYCLED CRAFTS
            p MUST BE 75% RECYCLED MATERIALS
            ol
                li Metal
                li Wood
                li Plastic
                li Paper
                li Fabric
                li Other or combination of materials
        .col-md-6
            h4#open--unclassified OPEN &amp; UNCLASSIFIED
            ol
                li Natural materials crafts
                li Wreaths (except Christmas)
                li Polymer clay
                li Recycled crafts, scrapworks (must be 75% recycled materials).
                li Technique NOT LISTED elsewhere &mdash; surprise us!
                li Leatherwork
                li
                | Professional Handicraft Display - not judged and may include promotional materials.
                li Macreme
  h3#sponsored-awards SPONSORED AWARDS
  h4#knitting--crocheting KNITTING &amp; CROCHETING:
  ol
    li
      | Ervin Henecke Award from Twist O&rsquo;Wool Guild ~ $25.00 &mdash; Most Outstanding NATURAL FIBER entry in
      | Knitting &amp; Crocheting categories.
    li
      | Patricia Henecke Award from Twist O&rsquo;Wool Guild ~ $25.00 for Most Outstanding entry of Socks Category
    li
      | Deb Kinder McClay Award ~ $20.00 for an outstanding crocheted or knit baby item demonstrating creative use of color and design.
    li
      | Hermit Thrush Fiber Co. ~ $25.00 gift certificate -Top Youth winner, 18 year &amp; under, in Knitting &amp; Crocheting categories.
    li Superintendents Award ~ $20 for most outstanding mittens
  h4#handspun-yarn-1 HANDSPUN YARN:
  ol
    li
      | Twist O&rsquo;Wool Guild ~ Award $25.00 - for the Most
      | Outstanding Item made from Hand Spun Yam.
    li Janet Winkler Award ~ $25.00 for the best skein of yarn spun on a drop spindle
  h5#felting-1 FELTING:
  ol
    li
      | Twist of Wool Guild award-SZS for most outstanding
      | felted item, any technique
  h4#weaving-1 WEAVING:
  ol
    li
      | Eleanor Boucher Memorial Award from Twist O&rsquo;Wool
      | Guild ~ $25.00 for most outstanding woven article
      | (includes baskets).
  h4#sewing-1 SEWING:
  ol
    li
      | Middlebury Sew &rsquo;N&rsquo;Vac ~ $50.00 Gift Certi?cate - for
      | Best Sewn Garment
    li
      | Middlebury Sew&rsquo;N&rsquo;Vac, $25 gift certi?cate for the most
      | outstanding garment sewn by a youth.
  h4#quilting QUILTING:
  ol
    li
      | The Quilters&rsquo;Corner at Middlebury Sew&rsquo;N&rsquo;Vac- $25 and
      | a $25 gift certi?cate, for the most outstanding quilt.
    li
      | The Quilters&rsquo;Comer at Middlebury Sew&rsquo;N&rsquo;Vac&mdash; $25 and
      | a $25 gift certi?cate, for the most outstanding quilt
      | quilted by a professional on a commercial machine.
    li
      | The Quilters&rsquo;Corner at Middlebury Sew&rsquo;N&rsquo;Vac&mdash; $25 and
      | a $25 gift certi?cate, for the most outstanding other
      | quilted item (pillow, bag, wall hanging, etc.)
    li
      | The Quilters&rsquo;Corner at Middlebury Sew&rsquo;N&rsquo;Vac&mdash; $25 gift
      | certi?cate for the most outstanding quilt by youth.
  h4#embroidery--needlepoint EMBROIDERY &amp; NEEDLEPOINT:
  ol
    li
      | Rae Dwight Award~$50.00 for an Most Outstanding
      | entry in Embroidery &amp; Needlepoint.
    li
      | Rae Dwight Award~$25.00 for an Outstanding entry in
      | Embroidery 8: Needlepoint by a youth 18 or under.
    li
      | Rose Ann Farese Memorial award-$75 for innovative
      | modem stitching.
  h4#beadwork-1 BEADWORK:
  ol
    li
      | Bethany Barry Award ~ $75.00 Outstandingly Creative
      | bead embellishment of a handicraft.
  h4#buttons BUTTONS
  ol
    li
      | Verdmont Button Club Awards ~ $25.00, $15.00 and $10.00
      | for the best creative decorating with buttons; button crafts on textiles or household objects
  h4#rugs-1 RUGS:
  ol
    li
      | The Oxford Rug Hooking School Award ~ $50.00 - Most
      | Outstanding entry in Hooking and Braiding.
  h4#woodwork WOODWORK:
  p
    | 1.Jack Brown Award ~ Three $50.00 - for Outstanding
    | entries in Woodworking &amp; Woodcarving &mdash; Category XIV
    | (Three individuals, preferably one exhibited by a youth).
  h4#recycled-crafts RECYCLED CRAFTS
  ol
    li Bethany Barry Award ~  $100.00 for the most creative reuse of face masks
    li
      | Bethany Barry Award ~  $75.00 for the most creative shopping bag made of recycled materials
      h4#overall-handicrafts OVERALL HANDICRAFTS:
    li
      | Golden Years Award ~ $25.00 for Outstanding Handicraft
      | entered by an exhibitor over 80 years old (Marked over 80 on
      | entryform).
    li
      | Jerry &amp; Cheryl Connor Award ~ $50.00 for THE MOST
      | OUTSTANDING YOUTH ENTRY in Handicrafts by a youth(18
      | years &amp; under).
    li
      | A Grand Prize of $100.00 will be awarded to THE MOST
      | OUTSTANDING ENTRY in the Handicrafts Department.
  h1#art-and-photography ART and PHOTOGRAPHY
  p SUPERINTENDENT: Bart Healy (802)759-2347
  h2#rules-1 RULES
  p
    | These Rules apply along with and in addition to the General Rules for the Home 8:
    | Garden Department, and the General Rules of Addison County Fair &amp; Field Days. Entries will be
    | accepted at the HOME &amp; GARDEN CENTER BUILDING on Monday, August 7th between
    | 9:00 am. &amp; 12:30 pm. Entries forthis department will, also, be accepted on Sunday,
    | August 6th between 1-4 pm.
  p
    | THIS ART EXHIBITION IS FOR AMATEURS. (A professional artist is one who creates
    | with intent to sell; exhibits at a recognized gallery, or who derives their living
    | from their art work.)
  ol
    li    Age groups for entries are: Youth 4-12, Teen 13-18,  Adult 19 and older.
    li
      | The superintendent will refuse work that is deemed to be craftwork, i.e. paint by number and predesigned kits. All work must be the artist&rsquo;s original and rendered by hand. No air brushed, computer generated or mechanically enhanced works will be accepted.  No work that is graphic design or lettering will be accepted.
    li
      | Work entered must have been completed since the date of the last fair, August 2022, and should not have been previously exhibited.
    li
      | Size restrictions. The maximum size for each piece, including the frame, is 20&rdquo;x30&rdquo; or a total frame perimeter of 100&rdquo;.
    li
      | Entries must consist of a single image. No multiple images or sets are allowed.
    li
      | Framing instructions.  All work must be suitably framed. However, unframed, &ldquo;gallery wrapped&rdquo; canvases, with a depth of 1&half;&rdquo; or greater and with the edges painted are acceptable. Glass and plexiglass are acceptable and encouraged, but not required. Judges take matting and framing into account when evaluating all work.
    li
      | Hanging instructions. Hanging cable must be installed on the backs of the paintings. Screw eyes should be used on the back of the work to hold the wire and be placed about &frac13; of the way down from the top of the frame on each side.  The wire should be attached so that when the piece is hung it does not show above the frame. Note: There will be no material at the Home and Garden Building for entrants to use to rig work for hanging. Again, framing and hanging must be complete before arriving with an entry.
    li    Sawtooth and clip hangers are not permitted.
    li    No electrical outlets will be provided for artwork.
    li
      | Labelling. All entries must include the title of the work, medium and the artist&rsquo;s name and age on the back. Contact information should also be provided: phone number and/or email address.  Enter this information in pen or marker. Also, make sure the title is on the entry form.
    li
      | Categories and classes are described below.  Categories indicated by letters. Classes by number. An artist or photographer may exhibit only one entry per class.
  p CATEGORIES &amp; CLASSES
  p
    | A.    AMATEUR ART - One entry per class allowed
    | 1. Oil
    | 2. Acrylic
    | 3. Watercolor - including gouache and casein
    | 4. Pastel
    | 5. Pencil
    | 6. Charcoal
    | 7. Pen and Ink - including gel pens
    | 8. Prints - wood/linoleum block, mono-prints, etching, etc
    | 9. Collage
    | 10. Other - Mixed media, rendering in markers et al.
  p B.  AMATEUR FOLK ART
  p
    | Folk Art in not judged on artistic skill. What is important is the piece&rsquo;s ability to express a feeling or evoke an image of a person&rsquo;s culture or heritage.  Folk Art exists in any medium and is often made of found or repurposed materials. Folk Artists often use or construct materials in new and nontraditional ways. Although some pieces are designed as art and evoke a feeling for the surroundings and/or culture, many pieces also serve a utilitarian function.
  p
    | Entrants in the Folk-Art category may include a paragraph about their work. The paragraph may include what inspired the piece, their choice of materials and/or what they hope to convey.
  ol(start='11')
    li Painted surfaces
    li Other constructions
  p C.  AMATEUR PHOTOGRAPHY 
  p
    | All images should seek to capture a moment, convey a feeling or tell a story. Black and white and color are included in every class. One entry per class is allowed.
  ol(start='13')
    li Pet Portraits
    li Vermont Landscapes
    li Your Best Image
  p D. PHOTO CHALLENGE
  p 2024 Photo Challenge - &ldquo;Supporting the Farm&rdquo;       
  p
    | Celebrating people, businesses, and machines as well as other things contributing to the success of the farm.
  p
    | SPONSORED AWARDS
  ol
    li
      | Best Entry in Art - All Ages - $50 Gift Certificate - Middlebury Studio School
    li
      | Best Color Rendering
      | Adult - $25 Gift Certificate - Middlebury Frame Shop
      | Teen 13-18 -  $ 25 Gift Certificate - Sparrow Art Supply
      | Youth 4-12 - Art Supplies
    li
      | Best Black and White Rendering
      | Adult - $25 Gift Certificate - Otter Creek Framing
      | Teen 13-18 - Art Supplies
      | Youth 4-12 - $25 Gift Certificate - Sparrow Art Supply
    li
      | Best Entry in Folk Art
      | Adult - $25 Gift Certificate - Vermont Book Shop
      | Youth/Teen 4-18 - Book Award - Vermont Folk Life Center
    li
      | Best Entry in Photography - All Ages - $50
      | Adult - $25
      | Teen 13-18 - $25
      | Youth 4-12 - $25
    li Photo Challenge - All Ages - $25 Gift Certificate - Kinney Drugs, Middlebury
    li People&rsquo;s Choice Award, Art - $50, in memory of Alice Healy
    li People&rsquo;s Choice Award, Photography - $50 - Jeff Farrell, Photographer.
  p
    | In addition, Woody Jackson, Helen Friesmuth, Robin Davis, Megan Sutton, Bart Healy and anonymous donors have helped underwrite prizes.
  h1#flower-show FLOWER SHOW
  p SUPERINTENDENTS: Lynn Clohessy, 989-2752
  h2#amateur-flower-show AMATEUR FLOWER SHOW
  h3#rules-2 RULES
  p
    | Please read carefully. These Rules apply along with and in addition to the General
    | Rules for the Home &amp; Garden Department and the General Rules of Addison County Fair &amp; Field
    | Days. Entries will be accepted at the HOME 8: GARDEN CENTER BUILDING on Monday, August
    | 7th between 9:00 am. &amp; 12:30 pm.
  ol
    li Exhibitors must bring their own containers.
    li
      | All floral arrangements will bejudged on horticultural perfection as well as artistic
      | arrangement.
    li
      | Due to limited space, no Floral arrangement will be accepted that exceeds
      | 12&rdquo;xi8&rdquo;
    li
      | All plants will be judged on health and development. Plant classesi &mdash; 4 must be
      | owned and maintained a minimum of six months. Exception: Summer container.
    li This Flower Show is for amateurs only.
    li
      | a. All ?oral arrangements must have been done by the exhibitor.
      | b. Children&rsquo;s arrangements must have been done by the child, re?ecting ability
      | appropriate for the age of the exhibitor.
  h3#categories--glasses-note-changes CATEGORIES &amp; GLASSES (NOTE CHANGES)
  h4#floral-arrangement-classes-not-to-exceed-12x-18 FLORAL ARRANGEMENT CLASSES: not to exceed 12&rdquo;x 18&rdquo;
  ol
    li Centerpiece (To be viewed from all sides)
    li Bouquet of mixed wild ?owers
    li Bouquet of mixed garden ?owers
    li Gladiolus
    li Arrangement of any single variety of garden ?ower
    li Dried ?oral arrangement
    li
      | Miniature arrangement, not more than 5&rdquo;x S&rdquo;inc|uding all props and plant materials
      ul
        li Dried plant material
        li Fresh plant material
    li Holiday arrangement-fresh, dried, and/or arti?cial, may include accessories
    li Unique Vase or Container Arrangement
    li Open &amp; unclassi?ed - can include groupings and scenes
  h4#plant-classes-pot-size-limited-to-10-or-less PLANT CLASSES: Pot size limited to 10&rdquo; or less
  ol
    li African Violets
    li House Plants
    li Cactus and Succulents
    li Dish Gardens
    li
      | Summer Plants - Pot size 12&rdquo; or less: maintained minimum of 6 weeks.
      ul
        li Summer Container Garden
        li Summer Plant &mdash; single specimen
        li Fairy Gardens
  h4#childrens-classes CHILDREN&apos;S CLASSES:
  ol
    li
      | Bouquet of mixed wild ?owers
      ul
        li  ages 4&mdash;8
        li  ages 9-18
    li
      | Bouquet of mixed garden ?owers
      ul
        li  ages 4&mdash;8
        li  ages 9&mdash;18
    li
      | Single ?oral arrangement using a child&rsquo;s toy
      ul
        li  ages 4-8
        li  ages 9-18
    li
      | House Plants
      ul
        li  ages 4-18
    li Miniature arrangement, not more than 5&rdquo;x5&rdquo;including all props and plant material
    li Scene or grouping using a child&rsquo;s toy up to 12&rdquo;x i8&rdquo;
    li
      | Fairy Garden
      ul
        li ages 4-8
        li ages 9&mdash;18
  h3#sponsored-awards-1 SPONSORED AWARDS:
  p
    | A. Law Firm of Fred Peet Award: $30.00 for Most Outstanding Exhibit by Youth (18
    | and under)
    | B. Middlebury AGWAY, Farm &amp; Garden Center Award: $30.00 gift certi?cate for
    | Most Outstanding Exhibitor.
    | C. Cole&rsquo;s Flowers: $30.00 for Most Unique Design by Adult.
    | D. Shallow Rock Greenhouse Award: $30.00 for Most Outstanding Plant Entry.
    | E. January Stearns - Realtor, Champlain Valley Properties: $25 for Best Entry
    | by Youth aged 4-8 years.
  h2#commercial-flower-show COMMERCIAL FLOWER SHOW
  h3#rules-3 RULES
  p
    | Please read carefully. These Rules apply along with and in addition to the General
    | Rules for the Home &amp; Garden Department and the General Rules of Addison County Fair &amp;
    | Field Days.
  ol
    li
      | A Commercial Flower Exhibitor is de?ned as any person or persons growing
      | ?owers for pro?t.
    li
      | Exhibitors will be allotted an empty 4ft. by 3ft. area each, to create a pleasing display of
      | ?owers using their own display materials and incorporating a farm or business sign.
    li
      | Each Exhibitor&rsquo;s space will bejudged on overall attractiveness, creativity of display, and
      | condition &amp; quality of ?owers.
    li
      | PRIZES: ist - $100.00; 2nd - $80.00; 3rd &mdash; $60.00
      | All other entries will receive $50.1. Special Ribbons will also be awarded.
    li
      | Each Exhibitor will be issued a season pass. Exhibitors are encouraged to maintain
      | freshness of their display throughout the week.
      | Reminder: Entries must be completely removed between 9-9:30 pm. on
      | Saturday or 10-12 pm. on Sunday.
  h2#commercial-nursery-show COMMERCIAL NURSERY SHOW
  h3#rules-4 RULES
  p
    | Please read carefullyihese Rules apply along with and in addition to the General Rules forthe
    | Home &amp; Garden Department, and the General Rules of Addison County Fair &amp; Field Days.
  ol
    li
      | A Commercial Nursery Exhibitor is de?ned as any person or persons producing trees,
      | shrubs, annuals, perennials or other outdoor landscape plants for pro?t. This display
      | must include a minimum of 3 tree(s) or shrub(s) with optional addition of
      | annuals or perennials. Use of Vermont grown plant material is encouraged.
    li
      | Exhibitors will be allotted an empty 8ft. by 3ft. deep area each, to create a pleasing display of
      | their plants, using their own display materials and incorporating a farm or business sign.
    li
      | Each Exhibitor&rsquo;s space will be judged on overall attractiveness, creativity of display, and
      | condition, &amp; quality of plant material.
    li
      | PRIZES: ist - $100.00; 2nd - $80.00; 3rd - $60.00
      | All other entries will receive $50.00 Special Ribbons will also be awarded.
    li
      | Each Exhibitor will be issued a season pass. Exhibitors are encouraged to maintain
      | freshness of their display throughout the week.
      | Reminder: Entries must be completely removed between 9-9:30 pm. on
      | Saturday or 10-12 pm. on Sunday.
  h2#garden-products GARDEN PRODUCTS
  p SUPERINTENDENTS:
  ul
    li Peg Allen, 623-6211; 
    li Linda Barrett, 545-2263
  h3#rules-5 RULES:
  p Please read carefully.
  p
    strong HOME GARDENING DIVISION is for AMATIIERS
  p
    | These Rules apply along with and in addition to the General Rules for the Home &amp; Garden Department, and the General Rules of Addison County Fair 8: Field Days.
  p
    | Entries will be accepted at the HOME &amp; GARDEN CENTER BUILDING on Monday, August 7th between 9:00 am. &amp; 12:30 pm. Entries will also be accepted on Sunday, August 6th between 1 &amp; 4pm.
  p
    | Judging takes place Monday afternoon. Items entered on Sunday will not be as fresh as those entered on Monday.
  ol
    li Entries must be grown by the exhibitor.
    li Only one entry allowed in each Class or Sub-class.
    li
      | Damaged or unworthy fruit or vegetables will not be
      | accepted.
    li
      | Thejudges will consider the following points:
      ul
        li  Quality - fruit or vegetable must be in good condition, at its best for eating.
        li Quantity - must have the required amount.
        li Uniformity - uniform in size, color &amp; maturity.
        li
          | Condition &mdash; free from disease, insect damage, cuts and bruises, and from growth cracks.
  p
    | Special Rosettes will be awarded to the Premier Home Gardener and Outstanding Youth Gardener.
  h3#categories--glasses CATEGORIES &amp; GLASSES
  h4#fruits FRUITS
  ol
    li Apples &mdash; 3 with stems
    li Blueberries &mdash; 1 pint basket
    li Raspberries &mdash; 1 pint basket
    li Strawberries &mdash; 1 pint basket
    li Other Berries &mdash; 1 pint basket
    li Muskmelon
    li Watermelon
    li Melon &mdash; other
    li Pears &mdash; 3 with stems
    li Plums &mdash; 3
    li Rhubarb &mdash; bunch of6
    li Open &amp; Unclassi?ed &mdash;- only 1 per person
  h4#vegetables VEGETABLES
  ol
    li Green string beans &mdash; 6
    li Yellow string beans &mdash; 6
    li Purple string beans &mdash; 6
    li Shell beans &mdash; 6
    li Beets &mdash; bunch of 4, washed, tops cut to 2&rdquo;
    li Broccoli&mdash; 1 head
    li Green cabbage &mdash; 1 head
    li Red Cabbage &mdash; 1 head
    li Cabbage, other &mdash;1 head
    li Carrots &mdash; bunch of 4, washed, tops cut to 2&rdquo;
    li Caulifower &mdash; 1 head
    li Corn &mdash; 3 ears with husk
    li Slicing cucumber &mdash; 1
    li Pickling cucumber &mdash; 3
    li Eggplant &mdash; 1
    li Garlic &mdash;3 bulbs
    li Garlic &mdash; braid
    li Gourds
    li Kale &mdash; 5 leaves in a transparent bag
    li Leeks &mdash;-bunch of 3, washed, tops cut to 4&rdquo;
    li Loose/Ieaf lettuce &mdash; bunch in transparent bag
    li Head lettuce -&mdash; 1 head
    li Red onions &mdash; 3, washed, tops cut to 2&rdquo;
    li White onions, 3, washed, tops cut to 2&rdquo;
    li Yellow onions &mdash; 3, washed, tops cut to 2&rdquo;
    li Green(shell) peas &mdash; 6 pods
    li Edible pod peas &mdash; 6 pods
    li Hot Peppers &mdash; 3
    li Sweet peppers &mdash; 3
    li Potatoes, Red &mdash; 3, washed, skins intact
    li Potatoes, white &mdash; 3, washed, skins intact
    li Pumpkin
    li Radishes &mdash; 6, washed, tops cut to 1&rdquo;
    li Spinach &mdash; 5 leaves in transparent bag
    li Summer squash, yellow &mdash; 1
    li Zucchini &mdash; 1
    li Summersquash, other &mdash; 1
    li Winter squash, acorn &mdash; 1
    li Winter squash, buttercup &mdash; 1
    li Winter squash, butternut &mdash; 1
    li Winter squash, other &mdash; 1
    li Swiss chard &mdash; 5 leaves in transparent bag
    li Tomatoes, full size &mdash; 4
    li Tomatoes, cherry/miniature &mdash; 1 pint basket
    li Tomatoes, paste/Italian &mdash; 6
    li Turnips &mdash; 4, washed, tops cut to 2&rdquo;
    li Open and unclassi?ed
  h4#miscellaneous MISCELLANEOUS
  ol
    li Basket arrangement
    li BiGGEST fruit or vegetable
    li
      | Herbs &mdash; any 3 varieties, in 3&rdquo;p0ts or freshly cut
      | in transparent bags
    li Decorated vegetable
    li Scarecrow &mdash; under4&rdquo;tall, must be freestanding or ready to hang
  h4#sponsored-awards-2 SPONSORED AWARDS:
  ol
    li
      | Middlebury AGWAY, Farm &amp; Garden Center
      | Award: $30.00 gift certi?cate for the Premier Home
      | Gardener.
    li
      | Peg Allen Award: $30 for Most Outstanding Youth
      | Exhibitor( 18 years and under ).
  h2#commercial-gardening-division COMMERCIAL GARDENING DIVISION
  p SUPERINTENDENT: Peg Allen, 623-6211
  h3#rules-6 RULES:
  p
    | Please read carefully. These Rules apply along with
    | and in addition to the General Rules for the Home &amp; Garden
    | Department, and the General Rules of Addison County Fair
    | &amp; Field Days.
  ol
    li
      | A Commercial Gardener is defined as any
      | person or persons growing produce for pro?t.
    li
      | Exhibitors will be allotted an empty 4ft. by 3ft. area
      | each, to create a display of their produce using their
      | own display materials and incorporating a farm or
      | business sign.
    li
      | Each Exhibitor&rsquo;s space will be judged on overall
      | attractiveness, creativity of display, and condition &amp;
      | quality of produce.
    li
      | PRIZES: lst - $100.00; 2nd - $80.00; 3rd - $60.00
      | All other entries will receive $50.00.
      | Special Ribbons will also be awarded.
    li
      | Each exhibitor will be issued a season pass.
      | Reminder: Entries must be completely removed between
      | 9&mdash;9:30 pm. on Saturday or 10&mdash;12 pm. on Sunday.
  h1#foods FOODS
  p
    | SUPERINTENDENTS:
    | - Nancy Lee Ross, 802-989-7865
  h2#rules-7 RULES
  p
    strong ALL these classes are for AMATEURS. No Professionals.
  p
    | FOODS
    | Superintendent: Nancy Lee Ross, 802-989-7865
    | Rules
    | All of these classes are for Amateurs. No Professionals.
    | These rules apply along with, and in addition to, the General Rules for the
    | Home &amp; Garden Department, and the General Rules of Addison County
    | Fair &amp; Field Days. Entries will be accepted at the Home &amp; Garden Center
    | Building on Sunday before the Fair from 1 - 4PM and again on Monday
    | from 9 - 12:30PM. Judging will start on Monday at 1:00PM.
  p
    | Note: During August in Vermont we can have very hot days and the
    | building is not air conditioned. Items entered on Sunday might not be as
    | fresh as those entered on Monday. We have very limited refrigeration
    | available and will do our best to preserve the entries before judging.
  ol
    li
      | All foods must be &ldquo;made from scratch&rdquo;. No boxed mixes of any kind,
      | this includes bread mixes, cake mixes, muffin mixes, pie crusts, etc.
      | will be accepted.
    li
      | Category D entries. Decorated Cake &amp; Cupcakes. This is an
      | EXCEPTION as they will be judged on appearance and not tasted.
    li
      | Each entry must include the recipe written or printed on plain paper
      | or card stock. These recipes will become the property of the Foods
      | Department. Pies must include the recipe for filling and the crust. Cakes
      | must include the recipe for cake and frosting.
    li Entries will be transferred to plates or platters supplied by the fair.
    li
      | Entries that deteriorate before the close of Field Days will be
      | disposed of.
    li
      | Superintendent reserves the right to reject any entry after &ldquo;check-in&rdquo;
      | if it is deemed to not have complied with the Rules
  h2#categories--glasses-1 CATEGORIES &amp; GLASSES
  h3#raised-breads RAISED BREADS
  ol
    li
      p White Loaf
    li
      p Wheat Loaf
    li
      p Fruited Loaf (other than apple)
    li
      p Sourdough Loaf
    li
      p Specialty / Unusual Loaf
    li
      p Plain Rolls (4)
    li
      p Sweet Rolls (4)
    li
      p Misc. Yeast Bread / Rolls (4)
    li
      p Donuts Raised (4)
    li
      p Coffee Cake Raised
    li
      p Bagels (4)
      h3#quick-breads--pastry QUICK BREADS &amp; PASTRY
    li
      p Loaf
    li
      p Fruited Loaf (other than apple)
    li
      p Specialty / Unusual Loaf
    li
      ol
        li Muffins (4)
    li
      p Biscuits (4)
    li
      p Scones (4)
    li
      p Donuts (4)
    li
      p Coffee Cake
    li
      p Misc. Quick Bread
      h3#cakes-not-to-exceed-10-in-diameter CAKES (not to exceed 10&rdquo; in diameter)
    li
      p Layered (frosted)
    li
      p Loaf
    li
      p Sponge
    li
      p Angel
    li
      p Chiffon
    li
      p Cheesecake
    li
      p Cupcakes (frosted) (4)
    li
      p Special Needs (Gluten Free, Sugar Free, Etc.)
    li
      p Misc. Cake 0r Cupcakes (4)
      h3#decorated-cakes--cupcakes DECORATED CAKES &amp; CUPCAKES
    li
      p Youth Decorated Cupcakes (4)
    li
      p Adult Decorated Cupcakes (4)
    li
      p Youth Decorated Cake
    li
      p Adult Decorated Cake
      h3#cookies COOKIES
    li
      p Brownies (4)
    li
      p Shortbread (4)
    li
      p Drop (4)
    li
      p Bar (4)
    li
      p Rolled (4)
    li
      p Filled (4)
    li
      p Not Baked (4)
    li
      p Misc. Cookies (4)
      h3#dessert-pies-ortarts DESSERT PIES orTARTS
    li
      p Pie (other than apple)
    li
      p Tart (other than apple)
    li
      p Misc. (other than apple)
      h3#apple-baked-goods APPLE BAKED GOODS
    li
      p Apple Pie
    li
      p Other Baked Item with Apples
      h3#dairy-foods DAIRY FOODS
      p 2 or more main ingredients must be a real dairy product
    li
      p Main Dish
    li
      p Baked Goods
      h3#honey-baked-goods HONEY BAKED GOODS
    li
      p
        | Honey Baked (must include at least 1/3 cup of VT
        | honey)
      h3#king-arthur-flour-contest KING ARTHUR FLOUR CONTEST
      p
        | Special rules: Entrants need to bring UPC label from a bag of King Arthur
        | Flour or an open bag of flour when submitting their entry. Entry will not be
        | accepted without proof of using King Arthur Flour.
    li
      p Rhubarb Cake - Youth contest age 18 and under
    li
      p Rhubarb Cake - Adult contest age 19 and up
      h3#candies CANDIES
    li
      p Fudge (6)
    li
      p Brittle / Bark (4 servings)
    li
      p Chocolates (6)
    li
      p Caramels (6)
    li
      p Misc. Candies (6)
      h3#canning CANNING
      p
        | Special Rules:
        | New Only one jar needed for each entry.
        | Entries will be judged on appearance, packaging and cleanliness of
        | containers.
        | All entries must have sealed lids and clean rust free rings.
        | Only water bath or pressure method of canning accepted.
        | Recipe with canning method used attached.
        | Paraffin is not acceptable.
        | Must have been canned within the last 12 months.
        | Jams, Jellies and pickled categories will be opened during judging to
        | sample and aid in making the best decision. Open jars will be marked.
    li
      p
        | Fruits
        | Apples
        | Applesauce
        | Apple butter
        | Berries
        | Cherries
        | Grape Juice
        | Peaches
        | Pears
        | Pear Sauce
        | Plums
        | Misc. Fruit
    li
      p
        | Vegetables
        | Beans
        | Beans, Lima
        | Beans, other
        | Beets
        | Carrots
        | Corn
        | Greens
        | Peas
        | Potatoes
        | Sauerkraut
        | Tomatoes
        | Whole
        | Diced
        | Stewed
        | Juice
        | Tomato Puree
        | Vegetable Juice
        | Misc. Vegetable
    li
      p
        | Jelly
        | Apple
        | Berry
        | Crabapple
        | Currant
        | Elderberry
        | Grape
        | Mint
        | Peach
        | Pear
        | Pepper
        | Plum
        | Strawberry
        | Misc. Fruit
    li
      p
        | Jams
        | Apple
        | Apricot
        | Blackberry
        | Blueberry
        | Cherry
        | Grape
        | Peach
        | Pear
        | Plum
        | Raspberry
        | Strawberry
        | Tomato
        | Misc.
    li
      p
        | Pickled
        | Beets
        | Bread &amp; Butter
        | Dill
        | Sour
        | Sweet
        | Green Tomatoes
        | Mustard
        | Vegetables
        | Relish
        | Cucumber
        | Pepper
        | Tomato
        | Zucchini
        | Salsa
        | Misc. Pickles
        | Misc. Relish
    li
      p
        | Sauces
        | Barbecue
        | Catsup
        | Chili
        | Pasta Sauce
        | Misc. Sauce
  h3#sponsors Sponsors
  p
    | King Arthur Flour
    | Maple Meadow Farm
    | Middlebury Bagel
    | Monument Fairs Dairy
    | Middlebury Natural Food Co-op
    | Otter Creek Bakery
    | Lilian Humphreys Canning Award
  h1#annual-leona-thompson-bowl-award ANNUAL LEONA THOMPSON BOWL AWARD
  p
    | Carrying on a tradition started in 1974 by the Addison County Extension Homemakers
    | Council, The Leona Thompson Bowl Award will be presented to the best all-around participant
    | in the 2024 Field Days Foods and Handicrafts Departments.
  p
    | The pewter bowl trophy, displayed at Middlebury Sew-N-Vac in Middlebury, bears the
    | names of proud winners of this coveted trophy honoring Leona Thompson, former Addison
    | County Extension Service Agent. Previous winners are:
  h3#criteria-and-rules Criteria and Rules
  ol
    li Contestant MUST BE AN ADDISON COUNTY RESIDENT. Must be 19 years or older.
    li Contestant may enter any number of items in Foods &amp; Handicrafts Departments.
    li
      | Points are awarded as follows:
      | Grand Rosette - 10 points Blue Ribbon - 5 points
      | Red Ribbon - 3 points White Ribbon - 1 point
    li The total of the two top scores in each Department will determine fnal score.
    li
      | In the event of a tie, recipient of the bowl will be decided by the Director &amp; Superintendents
      | of Foods &amp; Handicrafts Departments.
    li
      | Note: This award may not be won in two consecutive years and may not be won by any
      | Field Days director or superintendent involved in Foods &amp; Handicrafts Departments.
    li An individual may win this award up to 3 times.
  details
    summary
      | View Past Winners 
      small (click here)
    ul
      li 1974 Diane Cobb
      li 1975 Marilyn Smith
      li 1976 Sandy Foote
      li 1977 Yvonne Gingras
      li 1978 Barbara Wagner
      li 1979 Betty Cyr
      li 1980 Karen Husk
      li 1981 Peggy Lyons
      li 1982 Gussie Levarn
      li 1983 Barb Brown
      li 1984 Marion Sullivan
      li 1985 Julie Jordan
      li 1986 Phyllis Bowdish
      li 1987 Karen LeRoy
      li 1988 Maria Provencher
      li 1989 Donna Evans
      li 1990 Margaret Reed
      li 1991 Marguerite Senecal
      li 1992 Gussie Levarn
      li 1993 Judith Sinnock
      li 1994 Jodi Provoncha
      li 1995 Mufy Kashkin
      li 1996 Jodi Provoncha
      li 1997 Myrna Trombley
      li 1998 Judith Sinnock
      li 1999 Jodi Provoncha
      li 2000 Julia Ranney
      li 2001 Julie Hogan
      li 2002 Phyllis Bowdish
      li 2003 LaNell DeCosta
      li 2004 Carla Berno
      li 2005 LaNell DeCosta
      li 2006 Kathy Sargent
      li 2007 LaNell DeCosta
      li 2008 Kathy Sargent
      li 2009 Jodi Provoncha
      li 2010 Nancy Pecca
      li 2011 Debbie Whitman
      li 2012 Rose Curran
      li 2013 Debbie Whitman
      li 2014 Phyllis Bowdish
      li 2015 Alice Munson
      li 2016 Geralyn McBride
      li 2017 Mary Howard
      li 2018 Nancy Pecca
      li 2019 Debbie Whitman
      li 2021 Geralyn McBride
      li 2022 Mike Denis
  h1#annual-frances-monroe-youth-award ANNUAL FRANCES MONROE YOUTH AWARD
  p
    | Frances Monroe was the Director of the Home &amp; Garden Departments from 1986 to 2010. Frances
    | and her committee greatly increased the number of exhibitors and she spearheaded the efort to
    | erect the current building in 1994.
    | Starting in 2012, the Home &amp; Garden departments will honor the memory of FRANCES
    | MONROE by awarding an outstanding youth, aged 13 through 18, with a memento and their
    | name on a displayed plaque.
  h3#criteria-and-rules-for-winning-this-award Criteria and Rules for winning this award:
  ol
    li Contestant must be an Addison County resident.
    li Age before August 1st of the current year.
    li Contestant must enter in two or more departments.
    li
      | Points are awarded as follows:
      ul
        li Rosette &ndash; 10 points
        li Blue Ribbon &ndash; 5 points
        li Red Ribbon &ndash; 3 points
        li White Ribbon &ndash; 1 point
    li The top two scores in each department will determine the fnal score.
    li
      | In event of a tie, recipient of the AWARD will be decided by the Home &amp; Garden
      | committee.
  details
    summary
      | View Past Winners 
      small (click here)
    ul
      li 2012 RoseCurran 
      li 2013 Emily Moore
      li 2014 Meredith Foster
      li 2015 Jennie Foster
      li 2016 Cailean Sorce
      li 2017 Grace ToIles
      li 2018 Hanna Moore
      li 2019 Grace Tolles
      li 2021 Grace Tolles
      li 2022 Normandie Cesario
      ul(<details='')
