---
Title: "Childrens Barnyard Educational Display Entry Form"
Description: "Childrens Barnyard Educational Display Entry Form."
---

.text-center
  h1 
.fixed-width 
    iframe(src='https://www.cognitoforms.com/f/svJ3NZp7akmqK2VUqabxuw/1' style='border:0;width:100%;' height='2413')
    script(src='https://www.cognitoforms.com/f/iframe.js')

//-   form(class="js-control" name='childrens-barnyard', method='POST', data-netlify='true', netlify-honeypot="bot-field" action="/success")
//-     p.hidden
//-         label
//-         | Don’t fill this out if you're human: 
//-         input(name='bot-field')
    
//-     label Name: 
//-     input.form-control(type='text', name='name', required)
//-     br
//-     label Address: 
//-     input.form-control(type='text', name='address', required)
//-     br
//-     label Phone: 
//-     input.form-control(type='text', name='phone', required)
//-     br
//-     label Email: 
//-     input.form-control(type='email', name='email', required)
//-     br
//-     label Please describe your entry: 
//-     textarea.form-control(name='description', required)
//-     br
//-     label Please describe the size of our display and space you will require: 
//-     textarea.form-control(name='size', required)
//-     br
//-     label Do you need any special equipment: 
//-     textarea.form-control(name='equipment', required)

//-     h3 Feed
//-     p We can provide hay (first and second cut), grain and water for your animal(s) for the week. We offer Blue Seal grain. Please let us know what you would like us to fee your animal(s) and quantitites: 
//-     label Hay: 
//-     input.form-control(type='text', name='hay')
//-     br
//-     label Grain: 
//-     input.form-control(type='text', name='grain')
//-     br
//-     .checkbox
//-         label
//-             input(type='checkbox', name='will_provide_own_feed')
//-             |  I will provide my own feed: 

//-     h3 Schedule
//-     p If this is an attended display, what time would be best for you? This needs to be the same time each day.
//-     select.form-control(name="time_slot_type")
//-         option(value='Children-1/2 hour') Children-1/2 hour
//-         option(value='Youth-1 hour') Youth-1 hour
//-         option(value='Young Adult-1 ½ hours') Young Adult-1 ½ hours
//-         option(value='Adult-2 hours') Adult-2 hours
//-         option(value='Group-2 hours') Group-2 hours
//-     select.form-control(name="time_slots", multiple)
//-         option(value='10:00') 10:00
//-         option(value='10:30') 10:30
//-         option(value='11:00') 11:00
//-         option(value='11:30') 11:30
//-         option(value='12:00') 12:00
//-         option(value='12:30') 12:30
//-         option(value='1:00') 1:00
//-         option(value='1:30') 1:30
//-         option(value='2:00') 2:00
//-         option(value='2:30 ') 2:30 
//-         option(value='3:00') 3:00
//-         option(value='3:30') 3:30
//-         option(value='4:00') 4:00
//-         option(value='4:30') 4:30
//-         option(value='5:00') 5:00
//-         option(value='5:30') 5:30
//-         option(value='6:00') 6:00
//-         option(value='6:30') 6:30
//-         option(value='7:00') 7:00
//-         option(value='7:30') 7:30
//-         option(value='8:00') 8:00  
//-     p
//-         small You should be able to select multiple times above using ctrl/alt depending on your operating system, use the next field to add additional notes      
//-     br
//-     label Schedule Notes: 
//-     textarea.form-control(name='schedule_notes', required)
            

//-     h3 Poultry Testing
//-     p The Animal Health Section of the Vermont Agency of Agriculture, Food & Markets conducts free testing for avian influenza and Salmonella pullorum at Fairs, bird swaps and 
//-        | ther poultry commingling events. When arriving, it is the bird owner’s responsibility to check in at the Animal Health Section bird testing station and have all eligible birds 
//-        | tested before displaying them at the event. During check in, an Animal Health Section Specialist will provide you with a sales log form. These log forms must be accurately 
//-        | completed by the bird owner and returned to an Animal Health Specialist.
//-     p Salmonella Pullorum testing is required for exhibition or sale of domestic fowl at any fair, show, meet or any event where such fowl are assembled. This testing entails 
//-        | drawing a small droplet of blood from the underside of the bird’s wing and using a stained antigen reagent that will react immediately if the Salmonella bacterium is present. 
//-        | Because animal traceability is an important component of this testing, all birds tested are provided with a metal leg band, which is numbered for tracking purposes and is 
//-        | linked to the owner of record.
//-     p Birds that are required to be tested include turkeys, chickens, guinea fowl, peacocks, and pheasants which are twenty (20) weeks of age and older. Waterfowl such as geese 
//-        | and ducks are not subject to the PT testing requirement.
//-        | Avian influenza (AI) is a contagious viral disease that affects wild and domestic birds. AI infection in domestic chicken, duck and turkey flocks can result inhigh morbidity 
//-        | and mortality. Testing for avian influenza entails swabbing the inside of the bird’s mouth and sending the swabs to a laboratory for analysis
//-     br
//-     .checkbox
//-         label
//-             input(type='checkbox', name='poultry_testing_concent', required)
//-             |  I have read the above and consent to these requirements
//-     h3 Photo Consent 
//-     .checkbox
//-         label
//-             input(type='checkbox', name='photo_consent', checked)
//-             |  I grant permisions to ACFFD to use my child’s image for the use in all media publications, including social media.
    p 

    br
    button.btn.btn-lg.btn-primary.pull-right(type='submit') Submit