---
Title: "Draft Horse Show Sponsorship Form"
Description: "Draft Horse Show Sponsorship Form."
---

.text-center
  h1 
  
.fixed-width 
  iframe(src='https://www.cognitoforms.com/f/svJ3NZp7akmqK2VUqabxuw/3' style='border:0;width:100%;' height='967')
  script(src='https://www.cognitoforms.com/f/iframe.js')

//-   p To sponsor all or part of a class or award please fill out and return this form by July 1st.
//-   p We have 112 classes and offer prize money of over $12,000 for the show. Thank you for your support.
//-   p Please make checks payable to “Addison County Fair and Field Days” and return to:
//-   p Kathy Kennett, 1716 VT Route 22A, Panton, VT 05491 • Phone: 802-759-2015 • Cell: 802-349-5671
//- .fixed-width 
//-   form(class="js-control" name='childrens-barnyard', method='POST', data-netlify='true', netlify-honeypot="bot-field" action="/success")
//-     p.hidden
//-         label
//-         | Don’t fill this out if you're human: 
//-         input(name='bot-field')
    
//-     label Name: 
//-     input.form-control(type='text', name='name', required)
//-     br
//-     label Address: 
//-     input.form-control(type='text', name='address', required)
//-     br
//-     label Phone: 
//-     input.form-control(type='text', name='phone', required)
//-     br
//-     label Email: 
//-     input.form-control(type='email', name='email', required)
    
//-     h3 Class(es) to Sponsor
//-     p Contestants who wish to mow twice should choose the appropriate calss first and then the open class.

//-     label Please describe the classes you wish to sponsor: 
//-     textarea.form-control(name='size', required)

//-     label Amount you wish to contribute: 
//-     input.form-control(type='text', name='amount', required)

//-     br
//-     button.btn.btn-lg.btn-primary.pull-right(type='submit') Submit


