---
Title: "Hand Mowing Contest Entry Form"
Description: "Hand Mowing Contest Entry Form."
---

.text-center
  h1 
  
.fixed-width 
  iframe(src='https://www.cognitoforms.com/f/svJ3NZp7akmqK2VUqabxuw/2' style='border:0;width:100%;' height='939')
  script(src='https://www.cognitoforms.com/f/iframe.js')

//-   p Please mail or email to: Judd Markowski, 1724 East Street, Bridport, Vt 05734
//-   p Please pay admission at the gate AND GET A RECEIPT -YOU WILL BE REIMBURSED AT THE CONTEST IF YOU HAVE A RECEIPT.
//-   p The contest is located North of the Antique Area. Scores are based on time, width of cut, height and evenness of stubble.
//- .fixed-width 
//-   form(class="js-control" name='childrens-barnyard', method='POST', data-netlify='true', netlify-honeypot="bot-field" action="/success")
//-     p.hidden
//-         label
//-         | Don’t fill this out if you're human: 
//-         input(name='bot-field')
    
//-     label Name: 
//-     input.form-control(type='text', name='name', required)
//-     br
//-     label Address: 
//-     input.form-control(type='text', name='address', required)
//-     br
//-     label Phone: 
//-     input.form-control(type='text', name='phone', required)
//-     br
//-     label Email: 
//-     input.form-control(type='email', name='email', required)
    
//-     h3 Class(es)
//-     p Contestants who wish to mow twice should choose the appropriate calss first and then the open class.

//-     .radio
//-       label
//-         input(type='radio' name='base_class' value='YOUTH (16 AND UNDER) — 15-foot strip')
//-         |  YOUTH (16 AND UNDER) 15-foot strip
//-     .radio
//-       label
//-         input(type='radio' name='base_class' value='WOMEN, ages 17 - 59 — 15-foot strip')
//-         |  WOMEN, ages 17 - 59 15-foot strip
//-     .radio
//-       label
//-         input(type='radio' name='base_class' value='MEN, ages 17 - 59 — 25-foot strip')
//-         |  MEN, ages 17 - 59 25-foot strip
//-     .radio
//-       label
//-         input(type='radio' name='base_class' value='SENIOR WOMEN, ages 60-79 — 15-foot strip')
//-         |  SENIOR WOMEN, ages 60-79 15-foot strip
//-     .radio
//-       label
//-         input(type='radio' name='base_class' value='SENIOR MEN, ages 60-79 — 25-foot strip')
//-         |  SENIOR MEN, ages 60-79 25-foot strip
//-     .radio
//-       label
//-         input(type='radio' name='base_class' value='ROGER SHATTUCK MEMORIAL (Ages 80+) — 15-foot strip')
//-         |  ROGER SHATTUCK MEMORIAL (Ages 80+) 15-foot strip

//-     h4 Open
//-     .checkbox
//-         label
//-             input(type='checkbox', name='open_class')
//-             |  OPEN TO ALL — 25-foot strip


//-     h3 Photo Consent 
//-     .checkbox
//-         label
//-             input(type='checkbox', name='photo_consent', checked)
//-             |  I grant permisions to ACFFD to use my child’s image for the use in all media publications, including social media.
//-     p 

//-     br
//-     button.btn.btn-lg.btn-primary.pull-right(type='submit') Submit


