---
Title: "OPEN BEEF, WORKING STEER & OX SHOW ENTRY FORM"
Description: "OPEN BEEF, WORKING STEER & OX SHOW ENTRY FORM."
---

.text-center
  h1 
.fixed-width 
  iframe(src='https://www.cognitoforms.com/f/svJ3NZp7akmqK2VUqabxuw/7' style='border:0;width:100%;' height='1930')
  script(src='https://www.cognitoforms.com/f/iframe.js')

