---
Title: "Poultry Show & 4-H & Other Youth Poultry Showmanship"
Description: "Poultry Show & 4-H & Other Youth Poultry Showmanship."
---

.text-center
  h1 
.fixed-width 
  iframe(src='https://www.cognitoforms.com/f/svJ3NZp7akmqK2VUqabxuw/6' style='border:0;width:100%;' height='1428')
  script(src='https://www.cognitoforms.com/f/iframe.js')


//- .text-center
//-   h1 Poultry Show & 4-H & Other Youth Poultry Showmanship
  
//- .fixed-width 
//-   p Please use a separate entry form for each exhibitor.
//-   p Entry Fees are :
//-   ul 
//-     li $2.00 per bird Open Show and $1.00 per bird Junior Show.
//-     li $1.00 per bird for 4-H & Youth Showmanship Classes
//-   p Entries are due to Wayne by July 31st.
//-   p Mail your checks along with your name and phone number to: Wayne Marcelle, 1373 Main St., New Haven, VT 05472
//- .fixed-width 
//-   form(class="js-control" name='childrens-barnyard', method='POST', data-netlify='true', netlify-honeypot="bot-field" action="/success")
//-     p.hidden
//-         label
//-         | Don’t fill this out if you're human: 
//-         input(name='bot-field')
    
//-     label Name: 
//-     input.form-control(type='text', name='name', required)
//-     br
//-     label Address: 
//-     input.form-control(type='text', name='address', required)
//-     br
//-     label Phone: 
//-     input.form-control(type='text', name='phone', required)
//-     br
//-     label Email: 
//-     input.form-control(type='email', name='email', required)
//-     br
    

//-     h3 Poultry Testing
//-     p The Animal Health Section of the Vermont Agency of Agriculture, Food & Markets conducts free testing for avian influenza and Salmonella pullorum at Fairs, bird swaps and 
//-        | ther poultry commingling events. When arriving, it is the bird owner’s responsibility to check in at the Animal Health Section bird testing station and have all eligible birds 
//-        | tested before displaying them at the event. During check in, an Animal Health Section Specialist will provide you with a sales log form. These log forms must be accurately 
//-        | completed by the bird owner and returned to an Animal Health Specialist.
//-     p Salmonella Pullorum testing is required for exhibition or sale of domestic fowl at any fair, show, meet or any event where such fowl are assembled. This testing entails 
//-        | drawing a small droplet of blood from the underside of the bird’s wing and using a stained antigen reagent that will react immediately if the Salmonella bacterium is present. 
//-        | Because animal traceability is an important component of this testing, all birds tested are provided with a metal leg band, which is numbered for tracking purposes and is 
//-        | linked to the owner of record.
//-     p Birds that are required to be tested include turkeys, chickens, guinea fowl, peacocks, and pheasants which are twenty (20) weeks of age and older. Waterfowl such as geese 
//-        | and ducks are not subject to the PT testing requirement.
//-        | Avian influenza (AI) is a contagious viral disease that affects wild and domestic birds. AI infection in domestic chicken, duck and turkey flocks can result inhigh morbidity 
//-        | and mortality. Testing for avian influenza entails swabbing the inside of the bird’s mouth and sending the swabs to a laboratory for analysis
//-     br
//-     .checkbox
//-         label
//-             input(type='checkbox', name='poultry_testing_concent', required)
//-             |  I have read the above and consent to these requirements
//-     h3 Photo Consent 
//-     .checkbox
//-         label
//-             input(type='checkbox', name='photo_consent', checked)
//-             |  I grant permisions to ACFFD to use my child’s image for the use in all media publications, including social media.
//-     p 

//-     br
//-     button.btn.btn-lg.btn-primary.pull-right(type='submit') Submit



